
<a class="alert" href="/persona/create">Crear persona</a>

<table class="table table-striped">
    <tr>
        <th>Name</th>
        <th>Lastname</th>
        <th>Email</th>
    </tr>
    <tbody>
        @foreach(var item in Model){
            <tr>
                <td>@item.name</td>
                <td>@item.lastname</td>
                <td>@item.email</td>
                <td>
                    <a href="persona/detalle?name=@item.name">Detalle</a>
                    <a href="persona/editar?name=@item.name">Editar</a>
                    <a href="persona/delete?name=@item.name">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>